# =========================
# Compiled Files
# =========================
*.o
*.obj
*.out
*.exe
*.app
*.class

# =========================
# Debug / Logs
# =========================
*.log
*.stackdump

# =========================
# Temporary Files
# =========================
*~
*.tmp
*.temp

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains IDEs
# =========================
.idea/
cmake-build-*/

# =========================
# Code::Blocks
# =========================
*.cbp
*.layout
*.depend

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Competitive Programming
# =========================
input.txt
output.txt

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# GitHub Actions Artifacts
# =========================
*.zip
*.tar