# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# VS Code
.vscode/

# Code::Blocks
*.cbp
*.layout
*.depend

# CLion / IntelliJ
.idea/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Mac
.DS_Store

# Linux
*~

# Windows
Thumbs.db
desktop.ini